/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/denovotranscript -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 20,
        memory: '200.GB',
        time: '20.h'
    ]
    maxRetries    = 1
}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/denovotranscript/samplesheet/samplesheet_full.csv'
    transcript_fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/denovotranscript/data/full/assembled_mrna_80k.fa'
    busco_lineage = 'arthropoda_odb10'
    extra_fastp_args='--trim_front1 15 --trim_front2 15'
    transrate_reference= 'https://raw.githubusercontent.com/nf-core/test-datasets/denovotranscript/data/Panulirus_ornatus_pep.fa'
}
