/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/denovotranscript -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/denovotranscript/samplesheet/samplesheet.csv'
    transcript_fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/denovotranscript/data/minimal/assembled_mrna_2k.fa'
    busco_lineage = 'arthropoda_odb10'
    extra_fastp_args='--trim_front1 15 --trim_front2 15'
    transrate_reference= 'https://raw.githubusercontent.com/nf-core/test-datasets/denovotranscript/data/Panulirus_ornatus_pep.fa'
}
